<h1>Coupons</h1>

<span>
  <% @coupons.each do |coupon| %>
    <div>
      <%= link_to coupon.coupon_code + " @ " + coupon.store, coupon_path(coupon) %>
    </div>
  <% end %>
</span>

<br>

<div>
  <%= link_to "Add a Coupon", new_coupon_path %>
</div>
